<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="Bininator.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
    </startup>
    <userSettings>
        <Bininator.Properties.Settings>
            <setting name="maskedTextBoxHead_Value" serializeAs="String">
                <value/>
            </setting>
            <setting name="maskedTextBoxElastic_Value" serializeAs="String">
                <value/>
            </setting>
            <setting name="maskedTextBoxLoop_Value" serializeAs="String">
                <value/>
            </setting>
            <setting name="maskedTextBoxRow_Value" serializeAs="String">
                <value/>
            </setting>
            <setting name="maskedTextBoxBeforeWtoLoop_Value" serializeAs="String">
                <value/>
            </setting>
            <setting name="maskedTextBoxBeforeWtoRow_Value" serializeAs="String">
                <value/>
            </setting>
            <setting name="maskedTextBoxAfterWtoRow_Value" serializeAs="String">
                <value/>
            </setting>
            <setting name="maskedTextBoxAfterWtoLoop_Value" serializeAs="String">
                <value/>
            </setting>
            <setting name="checkedRB" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="checkBoxBini" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="checkBoxElastik" serializeAs="String">
                <value>False</value>
            </setting>
        </Bininator.Properties.Settings>
    </userSettings>
</configuration>
